.medshare_module_select_area_programme_year {
	display: block;
	position: relative;
	width: 242px;
	height: 182px;
}

.medshare_module_select_area_module select {
	width: 300px;
}

.medshare_module_select_area_programme_year img {
	width: 100%;
	height: 100%;
	border: 1px solid silver;
}

.medshare_module_select_area_programme_year div {
	position: absolute;
	z-index: 1;
}

.bm6_y0 { left:55px; top: 10px; }
.bm5_y1 { left:55px; top: 39px; }
.bm5_y2 { left:55px; top: 68px; }
.bm5_y3 { left:55px; top: 97px; }
.bm5_y4 { left:55px; top: 126px; }
.bm5_y5 { left:55px; top: 155px; }
.bm4_y1 { left:189px; top: 10px; }
.bm4_y2 { left:189px; top: 39px; }
