.medshare_module_select_area_programme_year {
	display: block;
	position: relative;
	width: 242px;
	height: 182px;
}

.medshare_module_select_area_module select {
	width: 300px;
}

.medshare_module_select_area_programme_year img {
	width: 100%;
	height: 100%;
	border: 1px solid silver;
}

.medshare_module_select_area_programme_year div {
	position: absolute;
	z-index: 1;
}

.bm6_y0 { left:53px; top: 8px; }
.bm5_y1 { left:53px; top: 37px; }
.bm5_y2 { left:53px; top: 66px; }
.bm5_y3 { left:53px; top: 95px; }
.bm5_y4 { left:53px; top: 123px; }
.bm5_y5 { left:53px; top: 151px; }
.bm4_y1 { left:185px; top: 8px; }
.bm4_y2 { left:185px; top: 37px; }
